.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 500px;
    height: auto;
    background-color: darksalmon;
    padding: 20px;
    border-radius: 10px;
}